h4 {
  font-family: "Abel";
  color: #0f7cc1;
  margin-left: -20px;
  margin-top: 15px !important;
}

h4 a {
  text-decoration: none !important;
  color: #0f7cc1;
}

h4 a:hover {
  color: #888;
}

body,
html {
  background-color: #eee;
  font-family: "Raleway", serif;
  margin: 0 20px;
  width: auto;
  padding: 0;
  height: auto;
}

iframe.tableauviz {
  height: 80vh;
}

.tableauPlaceholder {
  margin-bottom: 40px;
  border: 1.5px solid #ddd;
}